<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="dashboard.css">
    <link rel="stylesheet" href="contactus.css">
    <link rel="stylesheet" href="buttons.css">
    <title>Document</title>
</head>

<body class="hold-transition skin-blue sidebar-mini" >
  
    <div class="wrapper">
    
      <!-- Main Header -->
      <header class="main-header">
    
        <!-- Logo -->
        <a href="index2.html" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>LAB</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>LAB </b>Management</span>
        </a>
    
        <!-- Header Navbar -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
          </a>
          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
              
              <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <!-- The user image in the navbar-->
                  <img src="https://vignette3.wikia.nocookie.net/nation/images/6/61/Emblem_person_blue.png/revision/latest?cb=20120218131529" class="user-image" alt="User Image">
                  <!-- hidden-xs hides the username on small devices so only the image appears. -->
                  <span class="hidden-xs"><%=data.username %></span>
                </a>
                <ul class="dropdown-menu">
                  <!-- The user image in the menu -->
                  <li class="user-header">
                    <img src="https://vignette3.wikia.nocookie.net/nation/images/6/61/Emblem_person_blue.png/revision/latest?cb=20120218131529" class="img-circle" alt="User Image">
    
                    <p>
                      John Abia                  
                    </p>
                  </li>
                 
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="#" class="btn btn-default btn-flat">Profile</a>
                    </div>
                    <div class="pull-right">
                      <a href="#" class="btn btn-default btn-flat">Sign out</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
            
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
    
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
    
          
          <!-- Sidebar Menu -->
          <ul class="sidebar-menu" data-widget="tree">
            <li class="header">NAVIGATION</li>
            <!-- Optionally, you can add icons to the links -->
            <li class="active treeview">
              <a href="#">
                <i class="fa fa-dashboard"></i> <span>Dashboard</span>
              </a>
            </li>
             <li >
              <a href="http://localhost:3000/coomingsoon">
                <i class="fa fa-flask"></i> <span>why this theme</span>
              </a>
            </li>
            <!-- <li class="treeview" >
              <a href="#">
                <i class="fa fa-user-md"></i> <span>Doctors</span>
                <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
              </a>
              <ul class="treeview-menu">
                <li><a href=""><i class="fa fa-circle-o"></i>List</a></li>
                <li><a href=""><i class="fa fa-circle-o"></i>Add Doctors</a></li>
              </ul>
            </li> -->
             <li >
              <a href="https://2022.megalith.co.in/" target="_blank">
                <i class="fa fa-location-arrow"></i> <span>visit 2022 website</span>
              </a>
            </li>
            <li >
              <a href="#">
                <i class="fa fa-clipboard"></i> <span>any queries</span>
              </a>
            </li>
            <li >
              <a href="http://localhost:3000/coomingsoon">
                <i class="fa fa-cogs"></i> <span>play games until then</span>
              </a>
            </li>
            <li >
                <a href="http://localhost:3000/logout">
                  <i class="fa fa-cogs"></i> <span>log out</span>
                </a>
              </li>
            
          </ul>
          <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
      </aside>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        
        <section class="content-header">
          <h1>
            Profile
          </h1>
        </section>
    
        <!-- Main content -->
        <section class="content ">
      <div class="box box-primary">
                <div class="box-body box-profile">
                  <img id="avatar" class="profile-user-img img-responsive img-circle" src="https://www.w3schools.com/w3css/img_avatar3.png" alt="User profile picture">
    
                  <h3 class="profile-username text-center"><%= data.username %></h3>
    
                  <p class="text-muted text-center"><span id="countries"></span>,<span id="states"></span>,<span id="cities"></span></p>
                  <p class="text-muted text-center"><%= data.mobileNumber %></p>
                  <p class="text-muted text-center"><%= data.email %></p>
                  <p class="text-muted text-center"><%= data.college %></p>
                  <p class="text-muted text-center"><%= data.email %></p>
                  <p class="text-muted text-center userinfo"> You have successfully loggedin! <br> The team shall revert back to you very soon:). <br> Untill than you can visit our last year website</p>
                  
                  <script>
                    let countryname = '<%= data.country %>'
                    let statename = '<%= data.state %>'
                    let cityname = '<%= data.city %>'
                    const regionNames = new Intl.DisplayNames(
                    ['en'], {type: 'region'}
                    );
                    country=regionNames.of(countryname);
                    state = regionNames.of(statename);
                    document.getElementById("countries").innerHTML= country; 
                    document.getElementById("states").innerHTML= state; 
                    document.getElementById("cities").innerHTML= cityname; 
                    let gender = '<%= data.gender %>'
                    if (gender === 'male'){
                      document.getElementById("avatar").src = "https://www.w3schools.com/howto/img_avatar.png";
                    }
                    if (gender === 'female'){
                      document.getElementById("avatar").src = "https://www.w3schools.com/howto/img_avatar2.png";
                    }
                  </script>
                  
    
                  
                </div>
                <!-- /.box-body -->
              </div>
              <!-- /.box -->
    
    
          <!-- <div class="row">
            <div class="col-xs-12">
              <div class="box box-primary">
                <div class="box-header">
                  <h3 class="box-title">Profile update</h3>
    
                  
                </div> -->
               
                
                
                <!-- form start -->
                <!-- <form role="form">
                  <div class="box-body">
                    <div class="form-group">
                      <label>Username</label>
                      <input type="text" class="form-control"  placeholder="Enter Username">
                    </div>
                    <div class="form-group">
                      <label>Specialization</label>
                      <input type="text" class="form-control"  placeholder="Enter Specialization">
                    </div>
                    <div class="form-group">
                      <label>Phone</label>
                      <input type="text" class="form-control"  placeholder="Enter Phone No">
                    </div>
                    <div class="form-group">
                      <label>Email</label>
                      <input type="Email" class="form-control"  placeholder="Enter Email">
                    </div>
                    <div class="form-group">
                      <label>Description</label>
                       <textarea class="form-control"  placeholder="Enter your Description"></textarea>
                    </div>
                    
                    <p class="text-muted text-center">Change Password</p>
                    <div class="form-group">
                      <label>Password</label>
                      <input type="Email" class="form-control"  placeholder="Enter Password">
                    </div>
                    
                    <div class="form-group">
                      <label>Confirm Password</label>
                      <input type="Email" class="form-control"  placeholder="Renter Password">
                    </div>
                     -->
                   
                    
                  </div>
                  <!-- /.box-body -->
    
                  <!-- <div class="box-footer">
                     
                     
                          <button type="submit" class="btn btn-primary">Update</button>
                       
                  </div>
                </form>
                
              </div> -->
              <!-- /.box -->
    
                
                <!-- /.box-body -->
                
              </div>
              </div>
         
          
          
          
          
        </section>
        <!-- /.content -->
      </div>
      <!-- /.content-wrapper -->
    
      <!-- Main Footer -->

      <div class="contactus-wrapper">
        <div class="contactus-container">
          <form class="contactus" action="/contactus" method="POST">
            <h1>Let Us know, What's in your Head.</h1>
            <div class="item name_email">
              <input class="emailtext" type="text" name="sendername" placeholder="Your name" required>
              <input class="emailtext" type="email" name="senderemail" placeholder="Email" required>
            </div>
            <div class="item">
              <input class="emailtext" type="text" name="sendersubject" placeholder="Subject" required>
            </div>
            <div class="item">
              <textarea class="emailtext" name="sendermessage" placeholder="Message" required></textarea>
            </div>
            <div class="contactusbtn"><button class="regbtn regbtn__new" type="submit">Send</button>
            </div>
          </form>
        </div>
      </div>   
      
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="dashboard.js"></script>
    </body>
    
</html>